@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

:root {
  /* Color */
  --white-color: #fff;
  --black-color: #252525;
  --blue-color: #045fd4;
  --red-color: red;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;
  /* Size */
  --padding: 15px;
  --avatar-size: 40px;
  /* Font Size */
  --font-xlarge: 24px;
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background: none;
}

ul {
  list-style: none;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
  background: var(--black-color);
  color: var(--white-color);
}

.logo {
  position: relative;
}

.logo img {
  width: 100px;
  margin-left: 50px;
}
.bar {
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  top: 0.6rem;
  width: 25px;
  height: 3px;
  transition: all 0.5s ease-in-out;
}
.bar::before {
  content: "";
  position: absolute;
  top: -7px;
  width: 25px;
  height: 3px;
  background-color: var(--white-color);
  transition: all 0.5s ease-in-out;
}
.bar::after {
  content: "";
  position: absolute;
  top: 7px;
  width: 25px;
  height: 3px;
  background-color: var(--white-color);
  transition: all 0.5s ease-in-out;
}

header .icons .fa-search {
  margin-right: var(--padding);
}

.player {
  /* position: sticky; */
  top: 0;
  text-align: center;
  background: var(--black-color);
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 1300px;
}

/* Video Info */
body .info {
  padding: var(--padding);
}
.info .metadata .hashtags {
  display: flex;
  font-size: var(--font-medium);
  color: var(--blue-color);
}

.info .metadata .hashtags li {
  margin-right: var(--padding);
}

.info .metadata .titleAndButton {
  display: flex;
}

.info .metadata .titleAndButton .title {
  font-size: var(--font-large);

  margin-right: var(--padding);
}

.info .metadata .titleAndButton .title .clamp {
  /*  글자 디스플레이가 두줄 이상 안되게 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.info .metadata .titleAndButton .moreBnt {
  height: 100%;
  /* 애니매이션 */
  transition: transform 300ms ease-in-out;
}

.info .metadata .titleAndButton .moreBnt .clicked {
  /* 모양 위치가 바뀌는것 */
  transform: rotate(180deg);
}

.info .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.info .actions {
  display: flex;
  justify-content: space-around;
  margin: var(--padding);
}

.info .actions button {
  /*  아이콘이 위로, 글자가 아래로 */
  display: flex;
  flex-direction: column;
  color: var(--grey-dark-color);
  font-size: var(--font-small);
}

.info .actions button i {
  /*  공간 위아래는 0 좌우로 오토 / 중간으로 모임 */
  margin: 0 auto;
  margin-bottom: calc(var(--padding) / 2);
  /* 아이콘 사이즈 */
  font-size: 18px;
}

.info .actions button i.active {
  color: var(--blue-color);
}

.info .channel {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
}

.info .channel .metadata {
  display: flex;
  align-items: center;
}

.info .channel .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}

.info .channel .metadata .info {
  display: flex;
  flex-direction: column;
}

.info .channel .metadata .info .name {
  font-size: var(--font-medium);
}

.info .channel .metadata .info .subscribers {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.info .channel .subscribe {
  text-transform: uppercase;
  color: var(--red-color);
}

/* UpNext */
.upNext {
  padding: 0 var(--padding);
}

.upNext > .title {
  font-size: var(--font-medium);
  color: var(--grey-dark-color);
  margin-bottom: calc(var(--padding) / 2);
}

/*  공간 %로 나누기 */
.upNext .item {
  display: flex;
  margin-top: var(--padding);
}

.upNext .item .img {
  flex: 1 1 35%;
  margin-right: var(--padding);
}
.upNext .item .img img {
  width: 100%;
}
.upNext .item .info {
  flex: 1 1 60%;
}
.upNext .item .more {
  flex: 1 1 5%;
}

.upNext .item .info {
  display: flex;
  flex-direction: column;
}

.upNext .item .info .title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-right: var(--padding);
}

.upNext .item .info .name,
.upNext .item .info .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

/* .infoAndUpNext {
  display: flex;
  flex-direction: column;
} */

/* 화면 사이즈에 따라 위치배열이 바뀜 */
@media screen and (min-width: 768px) {
  .infoAndUpNext {
    flex-direction: row;
    margin: var(--padding) 0;
  }
}
